<!DOCTYPE html>
<html lang="en">

<head>
  <title>Todo List</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="all.css">
  <link rel="icon" href="icon.png">  
  <link rel="manifest" href="manifest.json">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="sw.js"></script>
</head>

<body>
  <div id="app">
    <section class="todo-wrapper">
      <h1 class="todo-title">{{ today.day }}<br>{{ today.date }}</h1>
      <form @keydown.enter.prevent="">
        <input type="text" class="input-todo" v-bind:class="{ active: new_todo }" placeholder="Take the garbage out"
          v-model="new_todo" v-on:keyup.enter="addItem">
        <div class="btn btn-add" v-bind:class="{ active: new_todo }" @click="addItem">+</div>
      </form>

      <div v-if="pending.length > 0">
        <p class="status busy">You have {{ pending.length }} pending item<span v-if="pending.length>1">s</span></p>
        <transition-group name="todo-item" tag="ul" class="todo-list">
          <li v-for="(item, index) in pending" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
          </transition>
      </div>

      <transition name="slide-fade">
        <p class="status free" v-if="!pending.length"><img
            src="https://nourabusoud.github.io/vue-todo-list/images/beer_celebration.svg" alt="celebration">Time to
          chill! You have no todos.</p>
      </transition>

      <div v-if="completed.length > 0 && showComplete">
        <p class="status">Completed tasks: {{ completedPercentage }}</p>
        <transition-group name="todo-item" tag="ul" class="todo-list archived">
          <li v-for="(item, index) in completed" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
          </transition>
      </div>
      <div class="control-buttons">
        <div class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span
            v-if="!showComplete">Show</span><span v-else>Hide</span> Complete</div>
        <div class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Clear All</div>
      </div>
    </section>
  </div> 
</body>
</html>

<script>
new Vue({
  el: '#app',
  data() {
    return {
      todoList: [],
      new_todo: '',
      showComplete: false,
    };
  },
  mounted() {
    this.todoList = JSON.parse(localStorage.getItem('todo_list')) || []
  },
  watch: {
    todoList: {
      handler: function(updatedList) {
        localStorage.setItem('todo_list', JSON.stringify(updatedList));
      },
      deep: true
    }
  },
  computed:{
    pending() {
      return this.todoList.filter(function(item) {
        return !item.done;
      })
    },
    completed() {
      return this.todoList.filter(function(item) {
        return item.done;
      }); 
    },
    completedPercentage() {
      return (Math.floor((this.completed.length / this.todoList.length) * 100)) + "%";
    },
    today() {
      var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth()+1; //January is 0!
      var yyyy = today.getFullYear();

      if(dd<10) { dd = '0'+dd }       
      if(mm<10) { mm = '0'+mm } 

      today = {
        day: weekday[today.getDay()],
        date:  mm + '-' + dd + '-' + yyyy,
      }
      return(today);
    }
  },
  methods: {    
    getTodos() {
      if (localStorage.getItem('todo_list')) {
        this.todoList = JSON.parse(localStorage.getItem('todo_list'));
      }
    },    
    addItem() {            
      if (this.new_todo) {
        this.todoList.unshift({
          id: this.todoList.length,
          title: this.new_todo,
          done: false,
          date: this.today.day,
          day: this.today.date,
        });
      }      
      this.new_todo = '';      
      return true;
    },
    deleteItem(item) {
      const box = confirm('Are you sure to dele this item ?')
      if (box == true) {
        this.todoList.splice(this.todoList.indexOf(item), 1);
      } else {
        return
      }
    },
    toggleShowComplete() {
      this.showComplete = !this.showComplete;
    },
    clearAll() {
      const box = confirm('Are you sure to dele this item ?')
      if (box == true) {
        this.todoList = [];        
      } else {
        return
      }
    }
  }, 
});
</script>

<script>
if (navigator.serviceWorker) {
  // Register SW
  navigator.serviceWorker
    .register('./sw.js')
    .then(registration => {
      console.log(registration);
    })
    .catch(console.error)
}
</script>
